@import '../../buttons/buttons.scss';
@import '/style/layout/mixins/arrow-after.scss';
@import '/assets/fonts/material-icons/material-icons.scss';
@import './__authorization--true/authorization--true.scss';
@import './__authorization--false/authorization--false.scss';
@import './__header-menu/header-menu.scss';

.header {
    width: 100%;
    background: #fff;
    box-shadow: rgba($color: #000000, $alpha: 0.5);
    &__container {
        display: flex;
        justify-content: space-between;
        padding: 1rem 10%;
        align-items: center;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 108px;
        cursor: pointer;
        &-svg {
            width: 100%;
            height: 40px;
            background: url(../assets/images/logo.svg);
            background-repeat: no-repeat;
        }
        &-text {
            width: 100%;
            height: 14px;
            background: url(../assets/images/TOXIN.svg);
            background-repeat: no-repeat;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

@media (max-width: 1120px) {
    .header {
        &__container {
            padding-left: 1em;
            padding-right: 1em;
        }
    }
}
@media (max-width: 920px) {
    .header {
        &__container {
            flex-direction: column;
            row-gap: 1em;
        }
    }
}

@media (max-width: 800px) {
    .header {
        &__content {
            flex-direction: column;
            row-gap: 1em;
        }
        &__acc {
            display: inline-block;
        }
        &__name {
            border-left: none;
            padding-left: 0;
            line-height: 0;
            margin-left: 0.5em;
        }
    }
}

@media (max-width: 480px) {
    .header {
        &__menu {
            display: none;
        }
        &__login {
            display: none;
        }
        &__registration {
            display: none;
        }
        &__container {
            flex-direction: row;
        }
        &__acc--mobile {
            display: inline-block;
        }
        &__content {
            display: flex;
            flex-direction: row-reverse;
            column-gap: 1em;
        }
    }
    .burger {
        display: block;
    }
}