include ../../buttons/button-small.pug
include ../../buttons/button-transparent.pug
include ./__authorization--true/authorization--true.pug
include ./__authorization--false/authorization--false.pug
include ./__header-menu/header-menu.pug

mixin header(auto="false")
    .header
        .inner-container
            .header__container
                a(href="./index.html")
                    .header__logo
                        .header__logo-svg
                        .header__logo-text
                .header__content

                    +header-menu('О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения')

                    - var authorised = auto

                    if (authorised === true)
                        +auto--true
                    else
                        +auto--false