.pagination
    ul.pagination__list
        li.pagination__item.pagination__prev
        li.pagination__item.pagination__dots ...
        li.pagination__item.pagination__number 4
        li.pagination__item.pagination__number.pagination__item--active 5
        li.pagination__item.pagination__number 6
        li.pagination__item.pagination__dots ...
        li.pagination__item.pagination__next