include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug

.card
    .card__content
        .card__title 
            h2 Найдём номера под ваши пожелания

        +dateDouble('прибытие', 'выезд')

        +dropdown('гости')
        
        button(type='submit').button__submit.button__submit--big подобрать номер
