mixin rate
    .rate(class=attributes.class)
        span.material-icons.material-icons--color-primary.rate__button.rate__button--1 star_outline
        span.material-icons.material-icons--color-primary.rate__button.rate__button--2 star_outline
        span.material-icons.material-icons--color-primary.rate__button.rate__button--3 star_outline
        span.material-icons.material-icons--color-primary.rate__button.rate__button--4 star_outline
        span.material-icons.material-icons--color-primary.rate__button.rate__button--5 star_outline
