mixin rate
    .rate(class=attributes.class)
        input(type="radio" name="star" id="star1").rate__inp
        label.rate__label(for='star1')
        input(type="radio" name="star" id="star2").rate__inp
        label.rate__label(for='star2')
        input(type="radio" name="star" id="star3").rate__inp
        label.rate__label(for='star3')
        input(type="radio" name="star" id="star4").rate__inp
        label.rate__label(for='star4')
        input(type="radio" name="star" id="star5" checked).rate__inp
        label.rate__label(for='star5')
