// ---- AIR DATEPICKER ----
// .air-datepicker {
//     font-family: "Montserrat", sans-serif;
//     width: 320px;
//     box-sizing: border-box;
//     &-button {
//         color: #bc9cff;
//         text-transform: uppercase;
//         font-size: 12px;
//         font-weight: 700;
//         line-height: 14.63px;
//         &:hover {
//             background: none;
//         }
//     }
//     &--buttons,
//     &--time {
//         border-top: none;
//         margin-top: 20px;
//         margin-bottom: 20px;
//         padding: 0 20px;
//     }
//     &-buttons {
//         display: flex;
//         justify-content: space-between;
//     }
//     &-body--cells.-days- {
//         grid-row-gap: 9px;
//     }
// }
// .air-datepicker-cell {
//     &:hover {
//         transform: translateY(-4px);
//     }
// }
// .air-datepicker-cell.-focus- {
//     background: linear-gradient(#6fcf97 0%, #66d2ea 100%);
//     border-radius: 50%;
//     width: 40px;
//     height: 40px;
// }
// .air-datepicker-cell.-in-range-:hover {
//     background: linear-gradient(#bc9cff 0%, #8ba4f9 100%);
// }
// .air-datepicker-cell.-selected- {
//     background: linear-gradient(#bc9cff 0%, #8ba4f9 100%);
//     border-radius: 50%;
//     height: 40px;
//     width: 40px;
//     transform: translateY(-4px);
// }
// .air-datepicker-cell.-selected-.-focus- {
//     background: linear-gradient(#bc9cff 0%, #8ba4f9 100%);
// }
// .air-datepicker-cell.-selected-.-current- {
//     background: linear-gradient(#bc9cff 0%, #8ba4f9 100%);
// }
// .air-datepicker-body--day-name {
//     color: rgba(188, 156, 255, 1);
//     text-transform: capitalize;
// }
// .air-datepicker-nav {
//     color: rgba(31, 32, 65, 1);
//     font-weight: 700;
//     font-size: 19px;
//     line-height: 23.16px;
//     border-bottom: none;
//     margin-bottom: 30px;
//     margin-top: 20px;
//     position: relative;
//     padding: 0 17px;
//     &::before {
//         content: "";
//         position: absolute;
//         top: 15%;
//         left: 20px;
//         height: 20px;
//         width: 20px;
//         background-image: url(./assets/images/arrow_forward.svg);
//         background-repeat: no-repeat;
//         background-size: cover;
//         pointer-events: none;
//         transform: rotate(180deg);
//     }
//     &::after {
//         content: "";
//         position: absolute;
//         top: 15%;
//         right: 20px;
//         height: 20px;
//         width: 20px;
//         background-image: url(./assets/images/arrow_forward.svg);
//         background-repeat: no-repeat;
//         background-size: cover;
//         pointer-events: none;
//     }
//     &--title i {
//         color: rgba(31, 32, 65, 1);
//         font-weight: 700;
//         font-size: 19px;
//         line-height: 23.16px;
//     }
//     &--title:hover {
//         background: none;
//     }
//     &--action:hover {
//         background: none;
//     }
//     &--action path {
//         stroke: #bc9cff;
//         display: none;
//     }
// }
// .air-datepicker-cell.-in-range- {
//     background: linear-gradient(45deg, rgba(188, 156, 255, 25%), rgba(139, 164, 249, 25%));
//     overflow-x: black;
// }
// // .air-datepicker {
// //     left: 0;
// //     opacity: 1;
// // }
// ---- MAIN ----
.ui-kit__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
