.ui-kit__container
    h1(style="color: #bc9cff;") UI KIT
    h2 TEXT FIELD
    include ../../components/text-field/text-field.pug
    h2 MASKED TEXT FIELD
    include ../../components/masked-text-field/masked-text-field.pug
    h2 DATE DROPDOWN
    include ../../components/date-dropdown/date-dropdown.pug
    h2 FILTER DATE DROPDOWN
    include ../../components/filter-date-dropdown/filter-date-dropdown.pug
    h2 SUBSCRIPTION TEXT FIELD
    include ../../components/subscription-text-field/subscription-text-field.pug
    h2 DROPDOWN (WITH ITEM COUNTER)
    include ../../components/dropdown/dropdown.pug
    h2 DROPDOWN (ROOM)
    include ../../components/dropdown/dropdown-room.pug
    h2 CALENDAR
    include ../../components/calendar/calendar.pug
    h2 EXPANDABLE CHECKBOX LIST
    include ../../components/expandable-checkbox-list/expandable-checkbox-list.pug
    h2 BENEFITS
    include ../../components/benefits/benefits.pug
    h2 RADIO BUTTONS 
    include ../../components/radio-buttons/radio-buttons.pug
    h2 TOGGLE 
    include ../../components/toggle/toggle.pug
    h2 LIKE BUTTON 
    include ../../components/like-button/like-button.pug
    h2 RATE BUTTON 
    include ../../components/rate-button/rate-button.pug
    h2 PAGINATION 
    include ../../components/pagination/pagination.pug
    h2 RANGE SLIDER 
    include ../../components/range-slider/range-slider.pug
    h2 BUTTONS 
    include ../../components/buttons/buttons.pug
    h2 RICH CHECKBOX BUTTONS
    include ../../components/rich-checkbox-buttons/rich-checkbox-buttons.pug
    h2 BULLET LIST 
    include ../../components/bullet-list/bullet-list.pug
    h2 COMMENT 
    include ../../components/comment/comment.pug