form.radio
    h3 radio buttons
    .radio-container
        label.radio-container__label
            input(type="radio" name='sex' value="male").radio-container__label-input
            | Мужчина
        label.radio-container__label
            input(type="radio" name='sex' value="female").radio-container__label-input
            | Женщина