mixin radio(first='Мужчина', last='Женщина')
    form.radio(class=attributes.class)
        .radio-container
            label.radio-container__label
                input(type="radio" name='sex' value="male").radio-container__label-input
                =first
            label.radio-container__label
                input(type="radio" name='sex' value="female").radio-container__label-input
                =last