include ../../../components/text-field/text-field.pug
include ../../../components/dropdown/dropdown.pug
include ../../../components/masked-text-field/masked-text-field.pug
include ../../../components/date-dropdown/date-dropdown.pug
include ../../../components/filter-date-dropdown/filter-date-dropdown.pug
include ../../../components/subscription-text-field/subscription-text-field.pug
include ../../../components/checkbox-list/checkbox-list

//include ../../../components/dropdown/dropdown-room.pug
//include ../../../components/expandable-checkbox-list/expandable-checkbox-list.pug
//include ../../../components/benefits/benefits.pug
//include ../../../components/radio-buttons/radio-buttons.pug
//include ../../../components/toggle/toggle.pug
//include ../../../components/like-button/like-button.pug
//include ../../../components/rate-button/rate-button.pug
//include ../../../components/pagination/pagination.pug
//include ../../../components/range-slider/range-slider.pug
//include ../../../components/buttons/button-big.pug
//include ../../../components/buttons/button-no-border.pug
//include ../../../components/buttons/button-small.pug
//include ../../../components/buttons/button-transparent.pug
include ../../../components/rich-checkbox-buttons/rich-checkbox-buttons.pug
//include ../../../components/bullet-list/bullet-list.pug
//include ../../../components/comment/comment.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hotel Reservation Project
        link(rel="shortcut icon", href="../favicon.ico", type="image/x-icon")
    body
        .wrapper
            .ui-container
                .elements-one
                    .elements-one__flex
                        .elements-one__block
                            h3.elements-one__upper-text1 text field
                            +textInput(class='elements-one__text-field')
                        .elements-one__block
                            h3.elements-one__upper-text1 dropdown
                            +dropdown(class='elements-one__dropdown')
                        .elements-one__block
                            h3.elements-one__upper-text1 masked text field
                            +maskedTextField(class='elements-one__text-field-masked')
                        .elements-one__block
                            +dateDouble('date dropdown', 'date dropdown')(class='elements-one__date-dropdown')
                        .elements-one__block
                            h3.elements-one__upper-text1 filter date dropdown
                            +filterDate(class='elements-one__filter-date')
                        .elements-one__block
                            h3.elements-one__upper-text1 subscription text field
                            +subscribe(class='elements-one__subscribe')
                    .elements-one__flex
                        .elements-one__block
                            h3.elements-one__upper-text1 checkbox button
                            +checkbox-list(class='elements-one__subscribe')






