include ../../buttons/button-transparent
include ../../buttons/button-big
include ../../text-field/text-field
include ../../masked-text-field/masked-text-field
include ../../radio-buttons/radio-buttons
include ../../toggle/toggle

.card
    .card__content
        h2.card__title Регистрация аккаунта

        +textInput('Имя')(class='card__input')
        +textInput('Фамилия')(class='card__input')

        +radio('Мужчина', 'Женщина')(class='card__radio')

        h3.card__suptitle дата рождения
        +maskedTextField(class='card__input')

        h3.card__suptitle данные для входа в сервис
        +textInput('Email')(class='card__input')
        +textInput('Пароль')(class='card__input')

        +toggle('Получать спецпредложения')(class='card__toggle')

        +buttonBig('перейти к оплате')(class='card__btn')

        .card__login
            .card__login-info Уже есть аккаунт на Toxin

            +buttonTransparent('войти')
