include ../../buttons/button-transparent
include ../../buttons/button-big
include ../../text-field/text-field
include ../../masked-text-field/masked-text-field
include ../../radio-buttons/radio-buttons
include ../../toggle/toggle

mixin registration()
    .card-registration(class=attributes.class)
        .card-registration__content
            h2.card-registration__title Регистрация аккаунта
            .card-registration__name
                +textInput('Имя')(class='card-registration__input')
                +textInput('Фамилия')(class='card-registration__input')

            +radio('Мужчина', 'Женщина')(class='card-registration__radio')

            h3.card-registration__suptitle дата рождения
            +maskedTextField(class='card-registration__date')

            h3.card-registration__suptitle данные для входа в сервис
            .card-registration__data
                +textInput('Email')(class='card-registration__data-item')
                +textInput('Пароль')(class='card-registration__data-item')

            +toggle('Получать спецпредложения')(class='card-registration__toggle')

            +buttonBig('зарегестрироваться', './registration.html')(class='card-registration__btn')

            .card-registration__login
                .card-registration__login-info Уже есть аккаунт на Toxin
                a(href="./login.html") 
                    +buttonTransparent('войти')(class='card-registration__btn-tr')
