@import '../../style/layout/mixins/arrow-after.scss';
@import '../../style/layout/mixins/text-field.scss';

.date-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
    & h3 {
        position: absolute;
        bottom: 43px;
    }
    &__container {
        position: relative;
    }
    &__container--focus {
        &::after {
            border-color: $Dark-shade-75;
        }
        .date-form__icon {
            color: $Dark-shade-75;
        }
    }
    &__icon {
        position: absolute;
        top: 0.4em;
        right: 0.3em;
    }
    &__inp {
        max-width: 150px;
        max-height: 44px;
        height: 100%;
        text-transform: uppercase;
        caret-color: transparent;
        @include text-field;
        // &::-webkit-calendar-picker-indicator {
        //     background: none;
        //     border: solid $Dark-shade-50;
        //     border-width: 0 3px 3px 0;
        //     padding: 3px;
        //     transform: rotate(45deg);
        //     height: 0px;
        //     width: 0px;
        //     pointer-events: none;
        // }
        &::-webkit-datetime-edit {
            overflow: visible;
        }
        &:focus::-webkit-calendar-picker-indicator {
            border-color: $Dark-shade-75;
        }
        &::placeholder {
            color: $Dark-shade-75;
        }
    }
}
