.header {
    &__authorization {
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        align-items: center;
    }

    &__acc {
        display: none;
    }

    &__name {
        color: $Dark-shade-50;
        border-left: 1px solid $Dark-shade-10;
        padding-left: 20px;
    }
}