include ../../date-dropdown/date-dropdown.pug
include ../../dropdown/dropdown.pug
include ../../buttons/button-big.pug
include ../__room-number/room-number.pug

mixin card-order
    .card
        .card__content

            +roomNumber(class='card__title')

            +dateDouble('прибытие', 'выезд')(class='card__date-range')

            h3.card__suptitle гости
            +dropdown('гости')(class='card__dropdown')

            .card__additional
                span.card__additional-info 9 990₽ х 4 суток
                span.card__additional-value 39 960₽
            
            .card__additional
                span.card__additional-info Сбор за услуги: скидка 2 179₽
                    img(src=require('/assets/images/info.svg'), alt="alt").card__additional-img
                span.card__additional-value 0₽

            .card__additional
                span.card__additional-info Сбор за дополнительные услуги
                    img(src=require('/assets/images/info.svg'), alt="alt").card__additional-img
                span.card__additional-value 300₽

            .card__price 
                h2.card__price-sum Итого
                .card__price-line
                h2.card__price-sum 38 081₽

            +buttonBig('забронировать')(class='card__btn')