.header {
    &__authorization {
        display: flex;
        justify-content: space-between;
        margin-left: 24px;
        align-items: center;
    }

    &__registration {
        margin-left: 20px;
    }

    &__acc--mobile {
        display: none;
    }
}