mixin auto--false
    .header__authorization
        a(href="./login.html")
            +buttonTransparent('войти')(class='header__login')
        a(href="./registration.html")
            +buttonSmall('зарегистрироваться')(class='header__registration')