.calendar {
    width: 320px;
    height: 369px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    &_month {
        width: 100%;
        font-size: 19px;
        line-height: 23.16px;
        font-weight: 700;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        &__left {
            width: 24px;
            height: 24px;
            background-image: url(./assets/images/arrow_forward.svg);
            background-repeat: no-repeat;
            transform: rotateY(180deg);
            margin-top: 5px;
            margin-left: 10px;
            cursor: pointer;
        }
        &__date {
            display: flex;
            justify-content: space-between;
            width: 125px;
            align-items: center;
            color: $Dark-shade-100;
        }
        &__right {
            width: 24px;
            height: 24px;
            background-image: url(./assets/images/arrow_forward.svg);
            background-repeat: no-repeat;
            margin-top: 5px;
            margin-right: 10px;
            cursor: pointer;
        }
    }
    &_weekdays {
        font-size: 12px;
        line-height: 14.63px;
        color: $Purple;
        font-weight: 700;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 40px;
    }
    &_days {
        font-size: 12px;
        line-height: 14.63px;
        color: $Dark-shade-50;
        font-weight: 400;
        width: 92%;
        height: 215px;
        margin: 0 auto;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 1fr);
        justify-content: space-between;
        align-items: center;

        &__prev-date {
            color: $Dark-shade-25;
        }
        &__next-date {
            color: $Dark-shade-25;
        }

        & > div {
            height: 40px;
            display: inline-block;
            & > p {
                cursor: pointer;
            }
        }
        & > div:not(.calendar_days__today):not(.calendar_days__prev-date):not(.calendar_days__next-date) > p {
            &:hover {
                opacity: 0.5;
            }
        }
        &__today {
            background: linear-gradient(#6fcf97 0%, #66d2ea 100%);
            border-radius: 22px;
            color: white;
            font-weight: 700;
        }
    }
    & button {
        border-style: none;
        background: none;
        color: $Purple;
        font-size: 12px;
        line-height: 14.63px;
        font-weight: 700;
        cursor: pointer;
        &:hover {
            opacity: 0.5;
        }
    }
    &_buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 92%;
        margin: 0 auto;
        margin-top: 30px;
    }
}
