// ---- AIR DATEPICKER ----
.air-datepicker {
    font-family: "Montserrat", sans-serif;
    width: 320px;
    box-sizing: border-box;
    &-button {
        color: #bc9cff;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        line-height: 14.63px;
        &:hover {
            background: none;
        }
    }
    &--buttons,
    &--time {
        border-top: none;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 20px;
    }
    &-buttons {
        display: flex;
        justify-content: space-between;
    }
    &-body--cells.-days- {
        grid-row-gap: 9px;
    }
}
.air-datepicker-cell.-focus- {
    background: linear-gradient(#6fcf97 0%, #66d2ea 100%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.air-datepicker-cell.-in-range-:hover {
    background: linear-gradient(#bc9cff 0%, #8ba4f9 100%);
}
.air-datepicker-cell.-selected- {
    background: linear-gradient(#bc9cff 0%, #8ba4f9 100%);
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.air-datepicker-cell.-selected-.-focus- {
    background: linear-gradient(#bc9cff 0%, #8ba4f9 100%);
}
.air-datepicker-cell.-selected-.-current- {
    background: linear-gradient(#bc9cff 0%, #8ba4f9 100%);
}
.air-datepicker-body--day-name {
    color: rgba(188, 156, 255, 1);
    text-transform: capitalize;
}
.air-datepicker-nav {
    color: rgba(31, 32, 65, 1);
    font-weight: 700;
    font-size: 19px;
    line-height: 23.16px;
    border-bottom: none;
    margin-bottom: 30px;
    margin-top: 20px;
    position: relative;
    padding: 0 17px;
    &::before {
        content: "";
        position: absolute;
        top: 15%;
        left: 20px;
        height: 20px;
        width: 20px;
        background-image: url(./assets/images/arrow_forward.svg);
        background-repeat: no-repeat;
        background-size: cover;
        pointer-events: none;
        transform: rotate(180deg);
    }
    &::after {
        content: "";
        position: absolute;
        top: 15%;
        right: 20px;
        height: 20px;
        width: 20px;
        background-image: url(./assets/images/arrow_forward.svg);
        background-repeat: no-repeat;
        background-size: cover;
        pointer-events: none;
    }
    &--title i {
        color: rgba(31, 32, 65, 1);
        font-weight: 700;
        font-size: 19px;
        line-height: 23.16px;
    }
    &--title:hover {
        background: none;
    }
    &--action:hover {
        background: none;
    }
    &--action path {
        stroke: #bc9cff;
        display: none;
    }
}
// .air-datepicker {
//     left: 0;
//     opacity: 1;
// }
// ---- MAIN ----
.ui-kit__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// ---- TEXT FIELD ----
.text {
    @include text-field;
    position: relative;
}

// ---- DROPDOWN ----
.dropdown-type {
    @include text-field;
    display: block;
    cursor: pointer;
    position: relative;
    padding: 0 35px 0 15px;
    &::after {
        content: "";
        position: absolute;
        top: calc(100% - 60%);
        right: 13px;
        border: solid $Dark-shade-50;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        pointer-events: none;
        z-index: 10;
        transition: all 0.3s ease;
    }
    &:focus,
    &--active {
        border-color: $Dark-shade-75;
    }
}
.dropdown-menu {
    border: 1px solid $Dark-shade-25;
    border-radius: 4px;
    width: 100%;
    color: $Dark-shade-75;
    background: #fff;
    box-sizing: border-box;
    display: none;
    overflow: hidden;
}
.dropdown-menu__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.dropdown-menu__list-item {
    padding: 0 15px;
    line-height: 36px;
    cursor: pointer;
    &:hover {
        background: $Dark-shade-5;
    }
    &:not(:last-child) {
        border-bottom: 1px solid $Dark-shade-25;
    }
}
.hidden {
    .dropdown-type {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &::after {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }
    }
    .dropdown-menu {
        display: block;
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        position: absolute;
        top: 44px;
        left: 0;
    }
}
.dropdown.hidden {
    position: relative;
}

// ---- MASKED TEXT FIELD ----
.masked-text-field {
    @include text-field;
    color: $Dark-shade-75;
    text-transform: uppercase;
}

// ---- DATE DROPDOWN ----
.date-type {
    @include text-field;
    color: $Dark-shade-50;
    text-transform: uppercase;
    width: 150px;
    &::-webkit-calendar-picker-indicator {
        background: transparent;
        width: 0;
        height: 0;
        border: solid $Dark-shade-50;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: all 0.3s ease;
        cursor: pointer;
    }
    &:focus {
        &::-webkit-calendar-picker-indicator {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }
    }
}

// ---- SUBSCRIPTION TEXT FIELD ----
.subscription-text-field {
    @include text-field;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: calc(100% - 66%);
        right: 13px;
        width: 17px;
        height: 17px;
        background-image: url(./assets/images/arrow_forward.svg);
        background-repeat: no-repeat;
        z-index: 100;
    }
}
