// ---- AIR DATEPICKER ----
// .air-datepicker {
//     font-family: "Montserrat", sans-serif;
//     width: 320px;
//     box-sizing: border-box;
//     &-button {
//         color: #bc9cff;
//         text-transform: uppercase;
//         font-size: 12px;
//         font-weight: 700;
//         line-height: 14.63px;
//         &:hover {
//             background: none;
//         }
//     }
//     &--buttons,
//     &--time {
//         border-top: none;
//         margin-top: 20px;
//         margin-bottom: 20px;
//         padding: 0 20px;
//     }
//     &-buttons {
//         display: flex;
//         justify-content: space-between;
//     }
//     &-body--cells.-days- {
//         grid-row-gap: 9px;
//     }
// }
// .air-datepicker-cell {
//     &:hover {
//         transform: translateY(-4px);
//     }
// }
// .air-datepicker-cell.-focus- {
//     background: linear-gradient(#6fcf97 0%, #66d2ea 100%);
//     border-radius: 50%;
//     width: 40px;
//     height: 40px;
// }
// .air-datepicker-cell.-in-range-:hover {
//     background: linear-gradient(#bc9cff 0%, #8ba4f9 100%);
// }
// .air-datepicker-cell.-selected- {
//     background: linear-gradient(#bc9cff 0%, #8ba4f9 100%);
//     border-radius: 50%;
//     height: 40px;
//     width: 40px;
//     transform: translateY(-4px);
// }
// .air-datepicker-cell.-selected-.-focus- {
//     background: linear-gradient(#bc9cff 0%, #8ba4f9 100%);
// }
// .air-datepicker-cell.-selected-.-current- {
//     background: linear-gradient(#bc9cff 0%, #8ba4f9 100%);
// }
// .air-datepicker-body--day-name {
//     color: rgba(188, 156, 255, 1);
//     text-transform: capitalize;
// }
// .air-datepicker-nav {
//     color: rgba(31, 32, 65, 1);
//     font-weight: 700;
//     font-size: 19px;
//     line-height: 23.16px;
//     border-bottom: none;
//     margin-bottom: 30px;
//     margin-top: 20px;
//     position: relative;
//     padding: 0 17px;
//     &::before {
//         content: "";
//         position: absolute;
//         top: 15%;
//         left: 20px;
//         height: 20px;
//         width: 20px;
//         background-image: url(./assets/images/arrow_forward.svg);
//         background-repeat: no-repeat;
//         background-size: cover;
//         pointer-events: none;
//         transform: rotate(180deg);
//     }
//     &::after {
//         content: "";
//         position: absolute;
//         top: 15%;
//         right: 20px;
//         height: 20px;
//         width: 20px;
//         background-image: url(./assets/images/arrow_forward.svg);
//         background-repeat: no-repeat;
//         background-size: cover;
//         pointer-events: none;
//     }
//     &--title i {
//         color: rgba(31, 32, 65, 1);
//         font-weight: 700;
//         font-size: 19px;
//         line-height: 23.16px;
//     }
//     &--title:hover {
//         background: none;
//     }
//     &--action:hover {
//         background: none;
//     }
//     &--action path {
//         stroke: #bc9cff;
//         display: none;
//     }
// }
// .air-datepicker-cell.-in-range- {
//     background: linear-gradient(45deg, rgba(188, 156, 255, 25%), rgba(139, 164, 249, 25%));
//     overflow-x: black;
// }
// // .air-datepicker {
// //     left: 0;
// //     opacity: 1;
// // }
// ---- MAIN ----
.ui-kit__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// ---- MASKED TEXT FIELD ----
.masked-text-field {
    @include text-field;
    color: $Dark-shade-75;
    text-transform: uppercase;
}

// ---- DATE DROPDOWN ----
.date-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
    &__inp {
        max-width: 150px;
        max-height: 44px;
        height: 100%;
        text-transform: uppercase;
        @include text-field;
        &::-webkit-calendar-picker-indicator {
            background: none;
            border: solid $Dark-shade-50;
            border-width: 0 3px 3px 0;
            padding: 3px;
            transform: rotate(45deg);
            height: 0px;
            width: 0px;
            pointer-events: none;
        }
        &::-webkit-datetime-edit {
            overflow: visible;
        }
        &:focus::-webkit-calendar-picker-indicator {
            // transform: rotate(225deg);
            border-color: $Dark-shade-75;
        }
    }
}

// ---- FILTER DATE DROPDOWN ----

.filter-date-dropdown {
    @include text-field;
    text-transform: uppercase;
}

// ---- SUBSCRIPTION TEXT FIELD ----
.subscription {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: calc(100% - 66%);
        right: 13px;
        width: 17px;
        height: 17px;
        background-image: url(./assets/images/arrow_forward.svg);
        background-repeat: no-repeat;
        z-index: 100;
        pointer-events: none;
    }
    &-text-field {
        @include text-field;
    }
}
// ---- CALENDAR ----

.calendar {
    width: 320px;
    height: 369px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    &_month {
        width: 100%;
        font-size: 19px;
        line-height: 23.16px;
        font-weight: 700;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        &__left {
            width: 24px;
            height: 24px;
            background-image: url(./assets/images/arrow_forward.svg);
            background-repeat: no-repeat;
            transform: rotateY(180deg);
            margin-top: 5px;
            margin-left: 10px;
            cursor: pointer;
        }
        &__date {
            display: flex;
            justify-content: center;
            width: 125px;
            align-items: center;
            color: $Dark-shade-100;
            & > h2 {
                margin-right: 2px;
            }
            & > span {
                margin-left: 2px;
            }
        }
        &__right {
            width: 24px;
            height: 24px;
            background-image: url(./assets/images/arrow_forward.svg);
            background-repeat: no-repeat;
            margin-top: 5px;
            margin-right: 10px;
            cursor: pointer;
        }
    }
    &_weekdays {
        font-size: 12px;
        line-height: 14.63px;
        color: $Purple;
        font-weight: 700;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 40px;
    }
    &_days {
        font-size: 12px;
        line-height: 14.63px;
        color: $Dark-shade-50;
        font-weight: 400;
        width: 92%;
        height: 215px;
        margin: 0 auto;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 1fr);
        justify-content: space-between;
        align-items: center;

        &__prev-date {
            color: $Dark-shade-25;
        }
        &__next-date {
            color: $Dark-shade-25;
        }

        & > div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            cursor: pointer;
        }
        & > div:not(.calendar_days__today):not(.calendar_days__prev-date):not(.calendar_days__next-date) > p {
            &:hover {
                opacity: 0.5;
            }
        }
        &__today {
            background: linear-gradient(#6fcf97 0%, #66d2ea 100%);
            border-radius: 50%;
            color: rgba(255, 255, 255, 1);
            font-weight: 700;
        }
        .selected--day {
            background: linear-gradient(#bc9cff 0%, #8ba4f9 100%);
            border-radius: 50%;
            color: rgba(255, 255, 255, 1);
            font-weight: 700;
        }
    }
    & button {
        border-style: none;
        background: none;
        color: $Purple;
        font-size: 12px;
        line-height: 14.63px;
        font-weight: 700;
        cursor: pointer;
        &:hover {
            opacity: 0.5;
        }
    }
    &_buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 92%;
        margin: 0 auto;
        margin-top: 30px;
        & button {
            text-transform: uppercase;
        }
    }
}
