/// MAIN COLORS
$Dark-shade-100: rgba(31, 32, 65, 1);
$Dark-shade-75: rgba(31, 32, 65, 0.75);
$Dark-shade-50: rgba(31, 32, 65, 0.5);
$Dark-shade-25: rgba(31, 32, 65, 0.25);
$Dark-shade-5: rgba(31, 32, 65, 0.05);
$Purple: #bc9cff;
$Green: #6fcf97;
