.expandable-checkbox-container
    h3.expandable-checkbox-container__title expandable checkbox list
form.expandable-checkbox
    label.expandable-checkbox__label
        input(type='checkbox' checked).expandable-checkbox__label-input
        | Завтрак
    label.expandable-checkbox__label
        input(type='checkbox').expandable-checkbox__label-input
        | Письменный стол
    label.expandable-checkbox__label
        input(type='checkbox').expandable-checkbox__label-input
        | Стул для кормления
    label.expandable-checkbox__label
        input(type='checkbox').expandable-checkbox__label-input
        | Кроватка
    label.expandable-checkbox__label
        input(type='checkbox').expandable-checkbox__label-input
        | Телевизор
    label.expandable-checkbox__label
        input(type='checkbox').expandable-checkbox__label-input
        | Шампунь 