include ../../date-dropdown/date-dropdown.pug
include ../../dropdown/dropdown.pug
include ../../buttons/button-big.pug

mixin card-search(title='Найдём номера под ваши пожелания')
    .card(class=attributes.class)
        .card__content
            h2.card__title= title

            +dateDouble('прибытие', 'выезд')(class='card__date-range')

            h3.card__suptitle гости
            +dropdown('гости')(class='card__dropdown')
            
            +buttonBig('подобрать номер')(class='card__btn')

