include ../../date-dropdown/date-dropdown.pug
include ../../dropdown/dropdown.pug
include ../../buttons/button-big.pug

mixin card-search(title='Найдём номера под ваши пожелания', href='./search.html')
    .card-search(class=attributes.class)
        .card-search__content
            h2.card-search__title= title

            +dateDouble('прибытие', 'выезд')(class='card-search__date-range')

            h3.card-search__suptitle гости
            +dropdown('гости')(class='card-search__dropdown')
            
            +buttonBig('подобрать номер', href)(class='card-search__btn')

