.ui-kit__container
    h2 TEXT FIELD
    input(type="text", name="text-field", placeholder="Email").text
    h2 DROPDOWN
    .dropdown
        button(type="submit" name="dropdown-field").dropdown-type Сколько гостей
        .dropdown-menu
            ul.dropdown-menu__list
                li(data-value='first').dropdown-menu__list-item First
                li(data-value='second').dropdown-menu__list-item Second
                li(data-value='third').dropdown-menu__list-item Third
                li(data-value='fourth').dropdown-menu__list-item Fourth
                li(data-value='five').dropdown-menu__list-item Five
    h2 MASKED TEXT FIELD
    input(type="text" name="date" id="el" placeholder="дд.мм.гггг" autocomplete="off").masked-text-field
    h2 DATE DROPDOWN
    .date-dropdown
        input(type="text" name="date-field__1" id="el2" placeholder="дд.мм.гггг" autocomplete="off").date-type
        input(type="text" name="date-field__2" id="el3" placeholder="дд.мм.гггг" autocomplete="off").date-type
    h2 FILTER DATE DROPDOWN 
    form
        input(type="text" id="el-filter" name="date" placeholder="дд.мм.гггг" autocomplete="off").filter-date-dropdown
    h2 SUBSCRIPTION TEXT FIELD
    form.subscription
        input(type="email", name="text-field", placeholder="Email").subscription-text-field

