mixin range
    .range(class=attributes.class)
        .range__value
            span.range__value-first 3000
            span &dash;
            span.range__value-second 7000
        form.range__form
            .range__track
                .track-line
            input.range__slider.range__slider-first(type="range" min='0' max='10000' value='3000' step='500')
            input.range__slider.range__slider-second(type="range"  min='0' max='10000' value='7000' step='500')