@import '../../components/like-button/like-button.scss';

.comment {
    display: flex;
    column-gap: 0.7rem;
    max-width: 50.8rem;

    &__user {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.8rem;
    }
    &__info {
        display: flex;
        flex-direction: column;
    }
    &__name {
        font-weight: 700;
    }
    &__text {
        margin-top: 0.7rem;
    }
}