mixin comment
    .comment 
        .comment__user.user 
            img.user__image(src=require('./assets/images/user.png') alt="murad-sarafanov")
            span.user__name Мурад Сарафанов
                span.user__date 5 дней назад
        .comment__info
            .comment__like
                include ../../components/like-button/like-button.pug
            p.comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.