mixin subscribe(email='Email')
    form.subscription
        input(type="email" name="text-field" placeholder=email).subscription__email
        span.material-icons.material-icons--color-primary.subscription__arrow arrow_forward