.subscription {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: calc(50% + 5px);
        right: 13px;
        width: 17px;
        height: 17px;
        background-image: url(./assets/images/arrow_forward.svg);
        background-repeat: no-repeat;
        z-index: 100;
        pointer-events: none;
    }
    &__email {
        @include text-field;
        max-width: 266px;
    }
}
