.air-datepicker {
    border: 1px solid $Dark-shade-25;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    min-height: 369px;
    width: 320px;
    --adp-padding: 12px;
    --adp-background-color-hover: none;
    --adp-day-cell-height: 40px;
    --adp-border-color-inner: none;
    --adp-background-color-in-range-focused: none;
    --adp-background-color-selected-other-month-focused: linear-gradient(rgb(188, 156, 255) 0%, #8ba4f9 100%);
    --adp-cell-background-color-selected: linear-gradient(rgb(188, 156, 255) 0%, #8ba4f9 100%);
    --adp-pointer-size: none;
    font-family: "Montserrat", sans-serif;
}

.air-datepicker-nav {
    &--title {
        color: $Dark-shade-100;
        font-size: 19px;
        font-weight: 700;
        & i {
            color: $Dark-shade-100;
        }
    }
}

.air-datepicker-body--day-name {
    text-transform: capitalize;
    color: $Purple;
    font-weight: 700;
    font-size: 12px;
}

.air-datepicker-nav {
    &--action {
        background: url(../assets/images/arrow_forward.svg);
        background-repeat: no-repeat;
        background-position: center;
        &:first-of-type {
            transform: rotate(180deg);
        }
        &:hover {
            background: url(../assets/images/arrow_forward.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        & svg path {
            display: none;
        }
}
}


// Cells
.air-datepicker--content {
    padding-left: 20px;
    padding-right: 20px;
}
.-day- {
    width: 40px;
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    color: $Dark-shade-50;
}
.-day-.-current- {
    color: white;
    background: $Secondary-gradient;
    border-radius: 50%;
}
.-day-.-current-.-focus- {
    color: white;
}
.-day-.-selected- {
    color: white;
    background: $Primary-gradient;
    border-radius: 50%;
}
.-day-.-selected-.-focus- {
    background: $Primary-gradient;
    border-radius: 50%;
}
.-day-.-selected-.-range-from- {
    border-radius: 50%;
}
.-day-.-range-from- {
    border: none;
    border-radius: 50%;
    background: $Primary-gradient;
    color: white;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background: $Primary-gradient--opacity;
        z-index: -1;
    }
}
.-day-.-range-to- {
    border: none;
    border-radius: 50%;
    background: $Primary-gradient;
    color: white;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: $Primary-gradient--opacity;
        z-index: -1;
    }
}
.-day-.-in-range- {
    background: $Primary-gradient--opacity;
}
.-day-.-focus-.-in-range- {
    background: $Primary-gradient--opacity;
}
.-day-.-other-month-.-focus-.-in-range- {
    background: red;
}
.-disabled- {
color: $Dark-shade-50;
}
.-other-month- {
    color: $Dark-shade-25;
}
.-focus- {
    color: $Dark-shade-25;
}
.-day-.-other-month-.-selected-.-range-from- {
    background: $Primary-gradient;
}
.-day-.-other-month-.-selected-.-range-to- {
    background: $Primary-gradient;
}
.-in-range-.air-datepicker-cell.-day-.-other-month-, .-in-range-.air-datepicker-cell.-year-.-other-decade- {
    background: $Primary-gradient--opacity;
    color: $Dark-shade-25;
}


.air-datepicker-buttons {
    grid-gap: 80px;
}
.air-datepicker-button {
    color: $Purple;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
}


