.calendar
    .calendar_month
        .calendar_month__left
        .calendar_month__date 
            h2
            span
        .calendar_month__right
    .calendar_weekdays
        div Пн
        div Вт
        div Ср
        div Чт
        div Пт
        div Сб
        div Вс
    .calendar_days 
    .calendar_buttons 
        button.calendar_buttons__clear(type='submit') Очистить
        button.calendar_buttons__submit(type='submit') Применить