.ui-kit__container
    h1(style="color: brown;") UI KIT
    h2 TEXT FIELD
    input(type="text", name="text-field", placeholder="Email").text

    h2 DROPDOWN
    .drop
        button(type="submit").drop-btn Сколько гостей
    h2 MASKED TEXT FIELD
    input(type="text" name="date" id="el" placeholder="дд.мм.гггг" autocomplete="off").masked-text-field
    h2 DATE DROPDOWN
    form.date-form
        input(type="date" max="1979-12-31").date-form__inp
        input(type="date" max="1979-12-31").date-form__inp
    h2 FILTER DATE DROPDOWN
    form
        input(type="text" id="el-filter" name="date" placeholder="дд.мм.гггг" autocomplete="off").filter-date-dropdown
    h2 SUBSCRIPTION TEXT FIELD
    form.subscription
        input(type="email", name="text-field", placeholder="Email").subscription-text-field
    h2 DROPDOWN (WITH ITEM COUNTER)
    .dropdown
        button(type="submit" name="dropdown-field").dropdown-type Сколько гостей
        .dropdown-guest(hidden)
            ul.dropdown-guest__list
                li(data-value='adults').dropdown-guest__list-item Взрослые
                    .counter
                        button.counter__btn(type='submit' data-direction="minus") -
                        input.counter__value(type="number" value="0" max="9" name='adults')
                        button.counter__btn(type='submit' data-direction="plus") +
                li(data-value='children').dropdown-guest__list-item Дети
                    .counter
                        button.counter__btn(type='submit' data-direction="minus") -
                        input.counter__value(type="number" value="0" max="9" name='children')
                        button.counter__btn(type='submit' data-direction="plus") +
                li(data-value='babies').dropdown-guest__list-item Младенцы
                    .counter
                        button.counter__btn(type='submit' data-direction="minus") -
                        input.counter__value(type="number" value="0" max="9" name='babies')
                        button.counter__btn(type='submit' data-direction="plus") +
                .dropdown-guest__list-button
                    button(type="submit" name="clear").dropdown-guest__list-button-item Очистить
                    button(type="submit" name="submit").dropdown-guest__list-button-item Применить
    h2 CALENDAR
    .calendar
        .calendar_month
            .calendar_month__left
            .calendar_month__date 
                h2
                span
            .calendar_month__right
        .calendar_weekdays
            div Пн
            div Вт
            div Ср
            div Чт
            div Пт
            div Сб
            div Вс
        .calendar_days 
        .calendar_buttons 
            button.calendar_buttons__clear(type='submit') Очистить
            button.calendar_buttons__submit(type='submit') Применить
    h2 EXPANDABLE CHECKBOX LIST
    include ../components/expandable-checkbox-list/expandable-checkbox-list.pug
    h2 BENEFITS
    include ../components/benefits/benefits.pug
    h2 RADIO BUTTONS 
    include ../components/radio-buttons/radio-buttons.pug