// ---- ARROW INDICATOR ----

@mixin arrow-after {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: calc(100% - 60%);
        right: 13px;
        border: solid $Dark-shade-50;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        pointer-events: none;
        z-index: 10;
    }

    &:focus {
        &::after {
            border-color: $Dark-shade-75;
        }
    }
}