mixin maskedTextField( text='дд.мм.гггг' )
    .masked-text-field(class=attributes.class)
        input(type="text" name="date" placeholder="дд.мм.гггг" autocomplete="off" max="1979-12-31").masked-text-field__input.datepicker-one-el