@import './layout/variables.scss';
@import './layout/fonts.scss';

// ui kit
// @import '/pages/UI-kit/__cards/cards.scss';
// @import '/pages/UI-kit/__form-elements/form-elements.scss';
@import '/components/__headers&footers/__header/header.scss';
@import '../components/__headers&footers/__footer/footer.scss';

@import '/pages/website/__search-room/search-room.scss';
@import '/pages/website/__landing/landing.scss';

.air-datepicker--buttons {
    color: red;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}
html,
body {
    font-family: "Montserrat", sans-serif;
    background: #fff;
    font-size: 14px;
    line-height: 24px;
    color: $Dark-shade-75;
    margin: 0;
    padding: 0;
    // min-width: 390px;
    height: 100%;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
    position: relative;
}
.inner-container {
    padding: 0 10%;
}

@media (max-width: 1190px) {
    .inner-container {
        padding-left: 1em;
        padding-right: 1em;
    }
}
@media (max-width: 610px) {
    .inner-container {
        padding: 0;
    }
}
