// @import "~normalize.css";
@import './layout/variables.scss';
@import './layout/fonts.scss';

// ui kit
@import './../pages/UI-kit/__cards/cards.scss';
@import '../pages/UI-kit/__headers&footers/headers&footers.scss';


*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    font-family: "Montserrat", sans-serif;
}
body {
    background: #F4F4F6;
    font-size: 14px;
    line-height: 24px;
    color: $Dark-shade-75;
    margin: 0;
    min-width: 350px;
}