@import '/components/__cards/__room-search/room-search.scss';

.landing {
    width: 100vw;

    &__slider {
        display: flex;
    }

    &__image {
        min-height: 570px;
        max-height: 63em;
        min-width: 100%;
        text-align: center;
        pointer-events: none;
    }

    &__room-search {
        position: absolute;
        top: 5em;
        left: 10em;
        z-index: 10;
    }

    &__text {
        position: absolute;
        right: 10em;
        bottom: 0;
        color: $Dark-shade-75;
        font-size: 14px;
        max-width: 297px;
        text-align: right;
    }
}

@media (max-width: 920px) {
    .landing__room-search {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 480px) {
    .landing__text {
        text-align: center;
        width: fit-content;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .date-form__inp {
        max-width: 17.715rem;
    }

    .date-form {
        flex-direction: column;
        row-gap: 2.6rem;
    }

    .landing__room-search {
        width: 22rem;
    }

    .button__submit--big {
        width: 17.715rem;
    }

    .landing__text {
        display: none;
    }
}