mixin filterDate
    form.filter-date
        button(type="button" autocomplete="off").filter-date__dropdown
            | 19 авг - 23 авг
        i.material-icons.material-icons--color50.material-icons--bold.filter-date__icon expand_more