mixin filterDate
    form.filter-date(class=attributes.class)
        input(type="text" placeholder='ДД.ММ.ГГГГ' spellcheck="false" readonly).filter-date__dropdown.datepicker-one
        i.material-icons.material-icons--color50.material-icons--bold.filter-date__icon expand_more