@import '../../style/layout/mixins/text-field.scss';
@import '../../style/layout/mixins/arrow-after.scss';



.filter-date {
    position: relative;
    width: auto;

    &__dropdown {
        @include text-field;
        max-width: 266px;
        caret-color: #fff;
        cursor: pointer;
        text-transform: lowercase;

        &:focus~.filter-date__icon {
            color: $Dark-shade-75;
        }

        &::placeholder {
            text-transform: uppercase;
        }
    }

    &__icon {
        position: absolute;
        top: 0.4em;
        right: 0.3em;
        pointer-events: none;
    }
}