.room__collage
        .room__block
                img(src=require("/assets/images/room--info-1.jpg"), alt="alt").room__img--first
        .room__block2
                img(src=require("/assets/images/room--info-2.jpg"), alt="alt").room__img--secondary
                img(src=require("/assets/images/room--info-3.jpg"), alt="alt").room__img--secondary


.inner-container
        .room 
                p sddsds
                p dsds
                        p sddsds
                p dsds
                        p sddsds
                p dsds
                        p sddsds
                p dsds
                        p sddsds
                p dsds 
