include ../../../components/__cards/__order/order.pug
include ../../../components/__cards/__room-search/room-search.pug
include ../../../components/benefits/benefits.pug
include ../../../components/comment/comment.pug

.room__collage
        .room__block
                img(src=require("/assets/images/room--info-1.jpg"), alt="alt").room__img--first
        .room__block2
                img(src=require("/assets/images/room--info-2.jpg"), alt="alt").room__img--secondary
                img(src=require("/assets/images/room--info-3.jpg"), alt="alt").room__img--secondary


.inner-container
        .room 
                .room__about 
                        .room__information
                                h3.room__title Сведения о номере
                                +benefits
                        .room__impression
                                h3.room__title Впечатления от номера
                                .room__chart 
                                        .room__chart-circle
                                                canvas#myChart(style='padding-left: 0;' width='311' height='126')
                                                .room__chart-inner
                                                        .room__chart-value 260
                                                        .room__chart-text голосов
                        .room__comment
                                .room__reviews 
                                        h3.room__title Отзывы посетителей номера
                                        span.room__title-add 2 отзыва
                                +comment(class='room__comment-item')
                                +comment('Патрисия Стёклышкова', 'Неделю назад', 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент')(class='room__comment-item')
                        
                        .room__additional
                                .room__rules
                                        h3.room__title Правила
                                        ul.room__list
                                                li.room__item
                                                        span.room__item-dot.room__item-dot--grey
                                                        span.room__item-text Нельзя с питомцами
                                                li.room__item
                                                        span.room__item-dot.room__item-dot--grey
                                                        span.room__item-text Без вечеринок и мероприятий
                                                li.room__item
                                                        span.room__item-dot.room__item-dot--grey
                                                        span.room__item-text Время прибытия — после 13:00, а выезд до 12:00
                                .room__cancel
                                        h3.room__title Отмена
                                        p.room__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

                .room__card
                        +card-order
