.card
    .card__content
        .card__title 
            h2 Войти
        
        input(type="text", name="text-field", placeholder="Email").text
        input(type="text", name="text-field", placeholder="Пароль").text

        button(type='submit').button__submit.button__submit--big войти

        .card__login
            .card__login-info Нет аккаунта на Toxin?
            button(type='submit').button__submit.button__submit--transparent 
                span создать