extends pages/layout/layout

block header 
    include components/__headers&footers/__header/header.pug

block content
    .main 
        p dsdasda

block footer
    include components/__headers&footers/__footer/footer.pug