extends pages/layout/layout

block header 
    include components/__headers&footers/__header/header.pug

block content
    .main 
        include pages\UI-kit\__form-elements\form-elements.pug
        //- include \pages\UI-kit\__cards\cards.pug

block footer
    include components/__headers&footers/__footer/footer.pug