extends pages/layout/layout
include components/__headers&footers/__header/header.pug
include components/__headers&footers/__footer/footer.pug

block header 
    +header

block content
    .main
        include pages/website/__room-details/room-details.pug

block footer
    +footer