mixin roomNumber(number= '888', price= '9 999₽', reviews= '145')
    .room-number__title
        h2(class=attributes.class).room-number__num= number
            span.room-number__app люкс
        span.room-number__value= price
            span.room-number__value--normal 
                | в сутки