.benefits-comfort 
    .benefits-comfort__svg 
    .benefits-comfort__text
        h3.benefits-comfort__text-name Комфорт
        p.benefits-comfort__text-description Шумопоглощающие стены
.benefits-location
    .benefits-location__svg 
    .benefits-location__text
        h3.benefits-location__text-name Удобство
        p.benefits-location__text-description Окно в каждой из спален