@import '../../style/layout/mixins/benefits.scss';
@import '../../style/layout/variables';

.benefits {
    display: flex;
    column-gap: 0.7rem;
    border-bottom: 1px solid $Dark-shade-10;
    width: 280px;
    align-items: center;
    padding-bottom: 17px;

    &:not(:last-of-type) {
        margin-bottom: 20px;
        margin-top: 24px;
    }

    &-comfort__text {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        margin-top: 5px;
    }

    &__text-name {
        margin: 0;
        font-size: 14px;
        text-transform: none;
    }

    &__text-description {
        margin: 0;
    }

    &__svg {
        width: 48px;
        height: 48px;
        object-fit: none;
    }

    &:last-child {
        border-bottom: none;
    }
}