@import '../../style/layout/mixins/benefits.scss';

.benefits {
    display: flex;
    column-gap: 1em;
    border-bottom: 1px solid $Dark-shade-10;
    max-width: 280px;

    &__text-name {
        margin-bottom: 0;
    }
    &__text-description {
        margin-top: 0;
    }
}