.card
    .card__content
        .card__title 
            h2 Найдём номера под ваши пожелания

        input(type="text", name="text-field", placeholder="Имя").text
        input(type="text", name="text-field", placeholder="Фамилия").text

        form.radio
            .radio-container
                label.radio-container__label
                    input(type="radio" name='sex' value="male").radio-container__label-input
                    | Мужчина
                label.radio-container__label
                    input(type="radio" name='sex' value="female").radio-container__label-input
                    | Женщина
        h3 дата рождения
        input(type="text" name="date" placeholder="дд.мм.гггг" autocomplete="off" max="1979-12-31").masked-text-field.datepicker-no-range

        h3 данные для входа в сервис
        input(type="text", name="text-field", placeholder="Email").text
        input(type="text", name="text-field", placeholder="Пароль").text

        label.toggle
            input.toggle__inp(type="checkbox")
            span.toggle__slider
            span.toggle__text Получать спецпредложения

        button(type='submit').button__submit.button__submit--big Перейти к оплате

        .card__login
            .card__login-info Уже есть аккаунт на Toxin
            button(type='submit').button__submit.button__submit--transparent 
                span войти
