h2 ROOM SERACH 
include ../../../components/__cards/__room-search/room-search.pug
h2 REGISTRATION 
include ../../../components/__cards/__registration/registration.pug
h2 LOGIN 
include ../../../components/__cards/__login/login.pug
h2 ORDER 
include ../../../components/__cards/__order/order.pug
h2 ROOM DETAILS 
include ../../../components/__cards/__room-details/room-details.pug