h2 ROOM SERACH 
include ../../../components/room-search__cards/room-search.pug
h2 REGISTRATION 
include ../../../components/registration/registration.pug
h2 LOGIN 
include ../../../components/login/login.pug
h2 ORDER 
include ../../../components/order/order.pug