include ../__room-number/room-number.pug
include ../../rate-button/rate-button.pug
include ../__slider/slider.pug


.card
    +slider(class='card__slider')
    
    .card__content
        +roomNumber('840', '9 990₽')

        .card__line

        .card__rate
            +rate
            p.card__text 145
                | 
                span.card__text--normal отзывов